*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f6f1ef;
max-width:430px;
margin:auto;
min-height:100vh;
padding-bottom:90px;
}

/* INICIO */

.inicio{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(
180deg,
#7a0d16,
#b3202a
);
color:white;
padding:20px;
text-align:center;
}

.logo{
width:180px;
margin-bottom:20px;
}

/* BOTONES */

.btn,.agregar{

background:#7a0d16;

color:white;

padding:12px 20px;

border:none;

border-radius:15px;

cursor:pointer;

text-decoration:none;

display:inline-block;

}

.btn{
background:white;
color:#7a0d16;
font-weight:bold;
}

/* LOGIN */

.login-box{

padding:30px;

text-align:center;

}

.login-box input{

width:100%;

padding:14px;

margin:10px 0;

border:1px solid #ddd;

border-radius:15px;

}

.recordar{

display:flex;

justify-content:space-between;

margin:15px 0;

font-size:13px;

}


/* REDES */

.sociales{

display:flex;

justify-content:center;

gap:20px;

margin:20px;

}

.sociales img{

width:55px;

height:55px;

object-fit:contain;

background:white;

padding:8px;

border-radius:50%;

box-shadow:
0 2px 5px rgba(0,0,0,.1);

}


/* HEADER */

.header{

padding:20px;

background:#7a0d16;

border-radius:
0 0 25px 25px;

}

.header h1{

color:white;

margin-bottom:15px;

}

.buscar{

width:100%;

padding:12px;

border-radius:20px;

border:none;

}


/* CATEGORIAS */

.categorias{

display:flex;

gap:10px;

overflow-x:auto;

padding-bottom:10px;

}

.categoria{

min-width:110px;

background:white;

padding:15px;

border-radius:15px;

text-align:center;

flex-shrink:0;

}

.categorias{

display:flex;

gap:10px;

overflow-x:auto;

padding-bottom:10px;

}

.categoria{

min-width:110px;

background:white;

padding:15px;

border-radius:15px;

text-align:center;

flex-shrink:0;

}


/* CARDS */

.cards{

display:grid;

grid-template-columns:
1fr 1fr;

gap:15px;

}



.card{

background:white;

padding:10px;

border-radius:20px;

box-shadow:
0 3px 10px rgba(0,0,0,.1);

overflow:hidden;

}



.card img{

width:100%;

height:120px;

object-fit:cover;

border-radius:15px;

}



.card h3{

font-size:15px;

margin-top:10px;

}



.precio{

margin:10px 0;

font-weight:bold;

color:#b3202a;

}


/* ACOMPAÑAMIENTOS */

.acomp{

display:flex;

flex-direction:column;

gap:12px;

margin-top:15px;

}

.acomp label{

background:white;

padding:12px;

display:flex;

justify-content:space-between;

border-radius:12px;

box-shadow:
0 2px 5px rgba(0,0,0,.1);

}


/* PRODUCTO */

.producto{

width:100%;

border-radius:20px;

}


/* CARRITO */

.carrito-item{

display:flex;

gap:15px;

align-items:center;

}

.carrito-item img{

width:100px;

height:100px;

object-fit:cover;

border-radius:15px;

}

.card button{

padding:8px 12px;

border:none;

background:#7a0d16;

color:white;

border-radius:10px;

margin-right:5px;

}



/* METODOS DE PAGO */

.pagos{

display:flex;

justify-content:center;

gap:15px;

margin-top:20px;

flex-wrap:wrap;

}

.pagos label{

width:70px;

height:70px;

background:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

box-shadow:
0 2px 8px rgba(0,0,0,.12);

cursor:pointer;

position:relative;

overflow:hidden;

}

.pagos input{

position:absolute;

top:5px;

left:5px;

}

.pagos img{

width:40px;

height:40px;

object-fit:contain;

}


/* NAV */

.nav{

position:fixed;

bottom:0;

width:430px;

display:flex;

justify-content:space-around;

padding:15px;

background:white;

border-radius:
20px 20px 0 0;

box-shadow:
0 -5px 20px rgba(0,0,0,.1);

}

.nav a{

text-decoration:none;

color:#333;

font-size:14px;

text-align:center;

}

.tiempo{

display:flex;

justify-content:space-between;

background:#f7f7f7;

padding:15px;

border-radius:15px;

}

/* PERFIL */

.perfil{

padding:20px;

}


.perfil-card{

background:#cf5353;

padding:20px;

border-radius:25px;

box-shadow:
0 4px 10px rgba(0,0,0,.1);

}



.avatar{

width:100px;

height:100px;

background:black;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

font-size:50px;

color:#ff5b5b;

}



.perfil-card h2{

text-align:center;

margin-top:10px;

}



.perfil-card p{

text-align:center;

opacity:.8;

}



.perfil-mini{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:10px;

margin:20px 0;

}



.perfil-mini div{

background:#a33c3c;

padding:10px;

text-align:center;

font-size:12px;

border-radius:10px;

}



.perfil-mini i{

font-size:22px;

margin-bottom:8px;

}



.opcion{

background:#a33c3c;

padding:16px;

margin:15px 0;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:
0 4px 10px rgba(0,0,0,.2);

border-radius:10px;

cursor:pointer;

}



.cerrar{

width:100%;

padding:15px;

border:none;

background:#a33c3c;

color:black;

font-size:18px;

margin-top:15px;

cursor:pointer;

border-radius:10px;

}

.cards-scroll{

display:flex;

overflow-x:auto;

gap:15px;

padding-bottom:10px;

scroll-behavior:smooth;

}

.cards-scroll .card{

min-width:170px;

flex-shrink:0;

}
